@import "tailwindcss";
@import "./fonts.css";

:root {
  --bg-primary: #06121b;
  --neutral-background: #06121b;
  --bg-secondary: #072723;
  --fg-logo: #edfff7;
  --text-primary: #ffffff;
  --text-secondary: #9ca3af;
  --text-tertiary: #6b7280;
  --outline: #1f2937;
  --divider: #163247;
  --accent-positive: #4ade80;
  --accent-negative: #f87171;
  --accent-warning: #facc15;
  --accent-blue: #2775ca;
  --accent-orange: #f7931a;
  --neutral-elevation-2: #0d2535; /* mobile nav border */
  --neutral-elevation-3: #163247; /* desktop nav border + table borders */
  --neutral-200: #b3b9be; /* body text */
  --alert-400: #f34c68;
  --primary-400: #4fffab;
  --hype-teal: #4ff0d6;
}
body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: "ABCFavorit", sans-serif;
}

button {
  cursor: pointer;
}
